<!--  h1 content -->
<% if (title) { %>
    <h1> <%= data.rows[0].inv_year + " " + title %> </h1>
    <% } else {
        res.redirect('')
    } %>

    <!-- Message -->
<% if (message) { %>
    <p class="notice"><%= message %></p>
    <% } %>
    
<!-- Main body section -->
<%- page %>